@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    background-color: #D4E0EE;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    background-color: #eee;
    padding: 1em;
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
}

img {
    width: 300px;
    border-radius: 1.5em;
}

h2 {
    color: #27303F;
    font-weight: 700;

}

p {
    font-weight: 400;
}

h2, p {
    text-align: center;
}



